.AI_Tools.owl-theme .owl-nav {
    position: absolute;
    left: 0;
}

.AI_Tools.owl-carousel .owl-nav button {
    border-radius: 50%;
}

#light.owl-carousel .owl-nav button span {
    display: block !important;
    font-size: 20px;
    background-color: black !important; 
    border-radius: 50%;
    padding: 0px 15px;
    padding-bottom: 4px;
    border: 1px solid white;
    color: white;
}
#light.owl-carousel .owl-nav button span:hover {
    color: white !important;
}


#dark.owl-carousel .owl-nav button span {
    display: block !important;
    font-size: 20px;
    background-color: #E2E8F0 !important; 
    border-radius: 50%;
    padding: 0px 15px;
    padding-bottom: 4px;
    border: 1px solid black;
    color: black;
}
#dark.owl-carousel .owl-nav button span:hover {
    color: black !important;
}